player-connection-mode=Listen
player-connection-guid=2293695770
player-connection-debug=0
player-connection-project-name=UnityBasicLecture
player-connection-ip=192.168.35.28
player-connection-ip=10.5.0.2
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2a4c276934ea425793b915cd62cb9adf
